$dark: #264653;
$light: #e5e5e5;
$danger: #e76f51;
$warning: #f4a261;
$success: #2a9d8f;
@import "~bootstrap/scss/bootstrap.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e9c46a;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
  overflow-x: hidden;
  padding-top: 15vh;
  padding-bottom: 15vh;
}

.card-header {
  background-color: $success;
  color: $light;
}

.card-footer {
  background-color: $warning;
}

.form-check-input {
  &:checked {
    background-color: $dark;
  }
}

.text-sm {
  font-size: 0.75rem;
}

.pointer {
  cursor: pointer;
}

.pre-wrap {
  white-space: pre-wrap;
}

.text-trans {
  color: transparent;
}

img {
  max-width: 100%;
}

@for $i from 1 through 20 {
  .vh-#{$i * 5} {
    height: calc($i * 5vh);
  }
}

@for $i from 1 through 20 {
  .min-vh-#{$i * 5} {
    min-height: calc($i * 5vh);
  }
}

@for $i from 1 through 20 {
  .h-#{$i * 5} {
    min-height: calc($i * 5%) !important;
  }
}

@for $i from 1 through 20 {
  .min-h-#{$i * 5} {
    min-height: calc($i * 5%) !important;
  }
}
